/* the following is for headline */
.header-line {
    background-color: white;
    position: relative;
    z-index: 1;
    min-height: 40px;
    padding: 11px 0 10px;
    background-color: #2b383e;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
}

.social-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-links ul .social-links__item {
    display: inline-block;
    margin-right: 1.538em;
    list-style: none;
    text-align: center;
}
.social-links ul .social-links__item a {
    font-size: 1.154em;
    text-decoration: none;
    -webkit-transition:  color 300ms 0s ease;
    -moz-transition:  color 300ms 0s ease;
    -ms-transition:  color 300ms 0s ease;
    -o-transition:  color 300ms 0s ease;
    transition:  color 300ms 0s ease;
}
.social-links--large ul .social-links__item {
    margin-right: 2.3em;
}
.social-links--large ul .social-links__item a {
    font-size: 1.385em;
    line-height: 2em;
}
.social-links--padding {
    padding: 10px 0;
}

.user-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.user-links ul .user-links__item {
    display: inline-block;
    margin-left: 1em;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.846em;
}

.social-links ul .social-links__item.twitter svg {
    width: 22px;
    height: 14px;
}
.social-links ul .social-links__item.twitter a svg {
    fill: #fff;
}
.social-links ul .social-links__item.twitter a svg:hover {
    fill: #0076cc;
}

/* the following is for header drop down menu */
.header__dropdowns-container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative !important;
    height: 50px;
    margin-bottom: -82px;
    margin-top: 32px;
}